
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card mt-3">
        <div class="card-body">
          <h5 class="card-title text-center">Angular signup form</h5>
          <form [formGroup]="signupForm" class="form-signin" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="firstName">Username</label>
              <input type="text" id="firstName" formControlName="username" class="form-control" placeholder="First Name" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }" autofocus>
              <div *ngIf="submitted && f['username'].errors" class="invalid-feedback">
                <div *ngIf="f['username'].errors['required']">Username is required</div>
                <div *ngIf="f['username'].errors['minlength']">
                  Username must be at least 6 characters
                </div>
                <div *ngIf="f['username'].errors['maxlength']">
                  Username must not exceed 20 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="inputEmail" formControlName="email" placeholder="Email address" aria-describedby="emailHelp" placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" email>
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email address is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input  type="password" id="inputPassword" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
              <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                <div *ngIf="f['password'].errors['required']">Password is required</div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword">Phone number</label>
              <input  type="number" id="phonenumber" formControlName="number" class="form-control" placeholder="Phone number" [ngClass]="{ 'is-invalid': submitted && f['number'].errors }">
              <div *ngIf="submitted && f['number'].errors" class="invalid-feedback">
                <div *ngIf="f['number'].errors['required']">Phone number is required</div>
                
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-6">
                <button class ="btn btn-info">Login</button> 
              </div>
              <div class="col-6 text-center">
                <button class="btn btn-primary" type="submit" click="onSubmit()" [disabled]="loading">Sign up</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


 


